body {
    background-image: url("../resources/penguins.jpg");
    background-size:100%;
}

div {
    padding: 240px 0;
}

table {
    background-color: white;
    border-style: ridge;
    margin:4px 4px 4px 4px;
    box-sizing: border-box;
    margin-block: 4px;
    margin: auto;
    margin-top: auto;
    width: 80%;
}

td {
    border: 1px grey solid;
    text-align: center;
}

#primera-row {
    font-weight: bold;
}

#segunda-row {
    background-color: rgb(235, 235, 133);
}